/* Dashboard.css */
  @import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --lila-principal: #b47edd;
  --lila-oscuro: #7b0aa1;
  --lila-claro: #d9b3ff;
  --blanco-textura: #f7f5f9;
  --negro-suave: #1e1e1e;
  --gris-claro: #eae6f0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--blanco-textura);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input textarea,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.aside {
  position: fixed;
  width: 300px !important ;
  height: 100% !important;
  background-color: var(--lila-principal);
  border-left: 10px solid var(--lila-principal);
  transition: 1s ease-in-out;
  overflow: hidden;
  display: flex; /* Añadido */
  flex-direction: column; /* Añadido */
  justify-content: space-between;
}

.aside.active {
  width: 80px !important ;

  .logo h1{
  display: none;
}
}

.logo {
  font-family: "Syne", sans-serif;
  background: transparent;
  border: 0;
  color: var(--blanco-textura);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0.9rem;
  font-size: 1rem;
  align-items: center;
  width: 100%;
  gap: 3rem;
  
}

.logo a{
  font-size: 1rem;
  width: 100%;
  color: var(--blanco-textura);
}

.logo i{
  font-size: 1.5rem;
}

.navegador{
 margin-top: auto; /* Añadido - empuja el navegador hacia abajo */
 margin-bottom: auto; /* Añadido - espacio igual arriba y abajo */
 padding: 20px 0;
}

.menu {
  display: flex !important;
  flex-direction: column !important;
  left: 0 !important;
  padding-left: 1rem;
}


.menu li {
position: relative;
width: 100%;
list-style: none;
}

.menu li button{
  gap: 1rem;
  width: 100% 
}

.menu li i {
  font-size: 1.5rem;
}

.boton-salir,
.boton-menu {
  font-family: "Syne", sans-serif;
  background: transparent;
  border: 0;
  color: var(--blanco-textura);
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  font-weight: 600;
  padding: 0.9rem ;
  font-size: 1rem ;
  align-items: center ;
  width: 100% ;
}

.boton-active {
  background-color: var(--blanco-textura);
  color: var(--lila-principal);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: relative;
}

.boton-active::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 1rem 0px var(--blanco-textura);
}

.boton-active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 1rem;
  box-shadow: 0 -1rem 0px var(--blanco-textura);
}

/*-----------------------MAIN-----------------------*/
.main {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--blanco-textura);
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listades {
  background-color: transparent;
  color: var(--lila-principal);
  border: 0;
  cursor: pointer;
  font-size: 2rem;
}


.usuario {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen-usuario{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--lila-principal);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.imagen-usuario img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.online{
  font-size: 0.8rem;
}

/*-------Tabla Inventarios--------------*/

.contenedor-productos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  text-align: center;
}


/*-----------------Formulario Productos--------------------*/

.modal-content {
  background-color: #fff;
  padding: 1rem;
  max-width: 1000px;
  border-radius: 0.5rem;
  width: 900px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 1rem;
}

.modal-title {
  font-family: "Syne", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--lila-principal);
}

.modal-footer {
  border-top: none;
  padding-top: 1rem;
}


#btnCrear{
  background-color: var(--lila-principal);
  border: 1px solid var(--lila-principal);
}


.form-productos,
.form-modificar {
  background-color: #fff;
  display: block;
  padding: 1rem;  
  max-width: 1000px;
  width: 100%; 
  border-radius: 0.5rem;
}

.form-titlep {
  font-family: "Syne", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: var(--lila-principal);
  margin-bottom: 1rem;
}

.input-containerp{
 display: flex;
 align-items: center;
 gap: 0.5rem;
}

.input-containerp label{
  font-family:"Syne", sans-serif;; ;
  font-size: 1rem;
  font-weight: 500;
}

.input-containerp input, select{
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-containerp select {
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 40px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  
}

.input-containerp input {
  background-color: #fff;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 150px;
  height: 40px;
  border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

 
}

.input-containerp #idProducto{
  width: 80px;

}

.input-containerp #referencia{
  width: 300px;
}

.input-containerp #imagen{
   width: 800px;
}

.input-containerp #categoria, 
#tipo, 
#marca{
  width: 160px;
}

.input-containerp #idvariante, 
#colorvariante, 
#nombrecolor, 
#stock{
  width: 100px;
}


.input-containerp #editarcategoria, 
#editartipo, 
#editarmarca{
  width: 160px;
}

.input-containerp #editarimagen{
  width: 400px;
}


 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cancelarmodificar,
.cancelarproducto,
.modificarproducto,
.guardarproducto,
.guardarvariante{
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family:"Syne", sans-serif;; ;
  font-size: 0.875rem;
  font-weight: 500;
  width: 100px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  margin-bottom: 1rem;
}

.guardarproducto,
.cancelarmodificar,
.modificarproducto,
.cancelarproducto{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lila-principal);
  color: var(--blanco-textura);
  border: 1px solid var(--blanco-textura);
}

.editarv-btn,
.editar-btn{
  border: none;
  background-color: transparent;
  color: green;
  font-size: 1rem;
  margin: 3px;
}

.vervariantes-btn{
  border: none;
  background-color: transparent;
  color: rgb(110, 110, 224);
  font-size: 1rem;
  margin: 3px;
}
.eliminarv-btn,
.eliminar-btn{
  border: none;
  background-color: transparent;
  color: rgb(230, 105, 105);
  font-size: 1rem;
  margin: 3px;
}

button:focus {
  outline: none;
  box-shadow: none; /* opcional, por si usa sombra */
}
